     
                                /****** By Default **********/

a{
    text-decoration: none;
}
    
                                /*****************************/
                                /********Header Section*******/
                                /*****************************/


            

.navbar-section{
    width: 100%;
    height: 100vh;
    background-image:url(../images/banner-bg.jpg) !important;
    

}

.header-nav{
    padding: 0px 50px;
}
.header-nav-link ul li{
    padding: 10px;
    color: gray;
}
.header-nav-link a{
    padding: 6px 14px;
    font-size: 15px;
    font-family: sans-serif;
    transition: 0.5s all ease;
    text-decoration: none;
    color: #ffffff;

    
}
.header-nav-link a.active{
    border: 1px solid goldenrod;
}
.header-nav-link a:hover{
    border: 1px solid goldenrod;
}
                            /****((Header Carousel Images))****/
.align-center-center{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.align-center-center h5{
    color: #ffffff;
    font-size: 16px;
    font-family: sans-serif;
    padding: 0px 0px 10px;
}
                            /**********************************/
                            /******* Header Section End *******/
                            /**********************************/


                            /**********************************/
                            /***** Service Section Aheads *****/
                            /**********************************/
.service-section{
    padding: 130px 0px 100px;
}
.service-header{
    text-align: center;
    padding: 0px 0px 50px;
}
.service-header h2{
    font-size: 50px;
    font-family: serif;
    color: #1C1C1C;
    padding: 18px 0px 10px;
}
                           /*****Service Section Columns*****/
.column-inverse{
    flex-flow: column-reverse!important;
}
.hotel-service{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
}
.hotel-service .service-content{
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
/* .hotel-service .service-content:nth-child(even){
    flex-flow: column-reverse;
} */
.hotel-service .image{

    height: 230px ;
}
.color-2d{
    color: #2d2d2d;
}
.pb-15{
    padding-bottom: 15px;
}
.text-capitalize{
    text-transform: capitalize!important;
}
.service-content{
    background: #f9f9f9;
    width: 100%;
}
.service-header-para{
    padding-top:40px ;
    padding-left: 20px;
    padding-right: 20px;
}
.pos-relative{
    position: relative;
}
.clamp-text{
    overflow: hidden;
    text-overflow: ellipsis;
}
.color-3d{
    color: #666666;
    font-size: 15px;
    font-family: sans-serif;
    margin: 0px 0px 31px;
}
.btn-default{
    border-color: #bf9a54;
}
.btn-default, a{
    color: #bf9a54;
}
.hotel-service .image{
    transform-origin: center;

}
.hotel-service .card{
    border: none;
}
/* @media(max-width:990px){
    .column-inverse{
        flex-flow: none!important;
    }

} */









                            /**********************************/
                            /***** Service Section Ends *******/
                            /**********************************/

                            /**********************************/
                            /******* Room Section Start*******/
                            /*********************************/

.popular-room{
    background-color:#6c757d38 ;
    padding: 130px 0px;
}
.popular-room .row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.popular-room-header{
    font-family: serif;
    color: #1C1C1C;
    padding: 18px 0px 10px;
}
.color-1c{
    color: #1C1C1C;
}
.popular-room-header h2{
    font-size: 50px;
}
.popular-room-header p{
    font-size: 17px;
}
.single-room{
    background: #fff;
    padding: 20px 20px 60px;
    margin-bottom: 20px;
}
.single-room a{
    color: #333333;
}
 .single-room .room-img{
    display: block;
    margin-bottom:30px
} 
.single-room h5{
    font-size: 24px;
    line-height: 34px;
    font-family: sans-serif;
}
.single-room p{
    margin-bottom: 16px;
    color: #666666;
    font-size: 15px;
}
.mb-15{
    margin-bottom: 15px;
}
span.divider{
    background-color:#bf9a54 ;
    display: block;
    width: 40px;
    height: 2px;
    margin-bottom: 15px;
}
.color-66{
    color: #666666;
}
.single-room h4{
    font-size: 30px;
    line-height: 42px;
    font-family: 'playfair Display', sans-serif;
}
.price span{
    font-size: 15px;
    text-transform: uppercase;
}
.read-btn{
    background-color: #bf9a54;
    color: #fff;
    width: 160px;
    text-align: center;
    position: relative;
    border-radius: 0px;
}
@media only screen and (max-width:578px){
    .row{
        text-align: center;
        justify-content: center;
    }
    .divider{
        justify-content: center;
        text-align: center;
    }
}

                                /*****************************/
                                /***** Room Section Ends *****/
                                /*****************************/

                                /********************************/
                                /******* Spa Section Aheads *****/
                                /********************************/

.section-padding{
    padding: 130px 0;
    display: block;
}
.hotel-cta .cta-content{
    border: 1px solid #e4e5ea;
    padding: 30px 40px 40px;
}
.content-txt{
    margin: 0 auto;
    max-width: 480px;
    width: 100%;
}
.text-center{
    text-align:center!important;
}
.pos-relative{
    position: relative;
}
.color-33{
    color: #333333;
}
.fw-300{
    font-weight: 300;
}
.playfair{
    font-family: serif;
}
.content-txt h3{
    font-size: 40px;
    line-height: 54px;
  

}

.font{
    font-size: 15px;
    font-family: sans-serif;
}
                                /**** Realted Services ****/

.related-service{
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.related-service .single-service{
    width: 33.33%;
    overflow: hidden;
}
.related-service  h5{
    background: rgba(255, 255, 255, 0.6);
    position: absolute;
    bottom: 0%;
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-bottom: 0;
}
.color-21{
    color: #212121;
}
.columns:hover{
    transform:scale(1.04);
    transition: 0.8s all ease;
}
.columns h5:hover{
    display: none;
}
@media only screen and (max-width:767px){
    .related-service{
        padding: 0 15px;
        display: block;
    }
    .related-service .row{
        text-align: center;
        justify-content: center;
    }
}
/* @media (max-width:767px){
    .related-service{
        padding: 0 15px;
        display: block;
 
    }
} */

                                /******************************/
                                /****** Spa Section Ends ******/
                                /******************************/


                                /******************************/
                                /**** App Section Aheads ******/
                                /******************************/

.app-section{
    overflow: hidden;
}
.section-padding{
    padding: 130px 0;
}
.section{
    display: block;
}
.app-section .row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.content{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 10px;
}
.content h6{
    margin-bottom: 30px;
    font-size: 20px;
    font-family: sans-serif;
}
.content h2{
    width: 100%;
    margin: 0 auto 40px;
    font-family: serif;
    font-size: 50px;
}
.content p{
    color: #666666;
    font-size: 15px;
    font-family: serif;
    margin: 0px 0px 42px;
}
.title-20{
    font-size: 20px;
    line-height: 30px;
}
.color-20{
    color: #202020;
}
.img-area{
    padding-top: 50px;
}

                                /*****************************/
                                /***** Section Ends *********/
                                /*****************************/

                                /******************************/
                                /***** Blog Section ***********/
                                /******************************/
                                /***** Section Starts ********/
                                /*****************************/

/* .single-blog-post .img-area{
    overflow: hidden;
}
.pos-relative{
    position: relative;
}
.image-fluid{
    max-width: 100%;
    height: auto;
}
/* .single-blog-post .img-area .date{
    background: #fffffc;
    color: black;
    font-size: 13px;
    height: 60px;
    font-weight: 700;
    line-height: 19px;
    padding: 10px;
    position: absolute;
    right: 0px;
    text-align: center;
    bottom: 50px;
    width: 60px;
}
.text-capitalize{
    text-transform: capitalize!important;
}
.d-block{
    display: block!important;
} 

.blog-section .single-blog-post .blog-content{
    padding: 20px 30px 25px;
    background-color:#666666 ;
}
.blog-section .single-blog-post .blog-content h5 a{
    color: #333333;
    font: 24px;
    font-family: sans-serif;
} */
.headings{
    padding-bottom: 60px;
}
.single-blog{
    overflow: hidden;
}
.single-blog .single-blog-text{
    padding: 20px 30px 25px;
    background-color: rgba(211, 211, 211, 0.2);
    
    
}
.single-blog .single-blog-text a{
    color: #333333;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
    
}
.single-blog .single-blog-text p{
    font-size: 15px;
    font-family: sans-serif;
    padding: 15px 0px;
}
.single-blog .single-blog-text a.read-more{
    font-size: 14px;
    color: #555555;
    text-decoration: underline;
}
.text-uppercase{
    text-transform: uppercase!important;
}


                                /******************************/
                                /******* Section End *********/
                                /*****************************/


                                /*****************************/
                                /****Footer First Section****/
                                /****************************/
                                                   
.blank{
    display: block;
    padding: 40px 10px;
    color: white;
}
.facebook{
    background-color: #0000ff;
}
.twitter{
    background-color: skyblue;
}
.google{
    background-color: tomato;
}
.vimeo{
    background-color: skyblue;
}
.behance{
    background-color: black;
}
.dribble{
    background-color: palevioletred;
}


                                /*****************************/
                                /****Footer Second Section****/
                                /*****************************/

.background{
    background-color: #17161e;
    padding: 100px 0px 80px;
}
.image{
    display: flex;
    justify-content: center;


}
.banner-1{
    text-align: center;
    justify-content: center;
    border-bottom: 1px solid red;
    
}
.icon{
   padding-right: 4px;
   padding-left: 4px;
}
.footer-p{
    color: #9592A1;
    font: 14px;
    font-family: sans-serif;
    padding: 25px 20px 25px 30px;
    margin-top: 30px;
    text-align: center;

}

                                /*******************************/
                                /**********Main Footer**********/
                                /*******************************/

.main-footer{
    background-color: #0E0E11;
    padding: 28px 0px;
    color: #666666;
    font-size: 15px;
    font-family: sans-serif;
}
.main-footer .row{
    display: flex;
}
.web a{
    color: gold;
}
.copyright a{
    color: gold;
}
.footer-links ul{
    list-style-type: none;
    text-align: right;
}
.footer-links li{
    display: inline-block;
    word-spacing: 0px;
}
.footer-links a{
    padding: 0px 10px;
    color: #A1A4C1;
    font-size: 14px;
    font-family: sans-serif;
    transition: 0.6s;
}
.footer-links a:hover{
    color: goldenrod;
}